commands:
    download_stable:
        command: "git clone git://github.com/xdebug/xdebug.git"
        cwd: /home/ec2-user
        test: test ! -d /home/ec2-user/xdebug
    run_xdebug:
        command: "sudo phpize"
        cwd: /home/ec2-user/xdebug
    run_xdebug2:
        command: "sudo ./configure --enable-xdebug"
        cwd: /home/ec2-user/xdebug
    run_xdebug3:
        command: "sudo make"
        cwd: /home/ec2-user/xdebug
    run_xdebug4:
        command: "sudo make install"
        cwd: /home/ec2-user/xdebug
container_commands:
    00allow_ftp:
        command: "sudo chmod 777 -R ./"
    01install_composer_commands:
        command: "sudo php /usr/bin/composer.phar update"
    02install_composer_commands:
        command: "sudo php /usr/bin/composer.phar install"

