files:
    "/etc/php.d/99xdebug.ini" :
        mode: "000755"
        owner: "root"
        group: "root"
        content: |
            xdebug.remote_enable=1
            xdebug.idekey="netbeans-xdebug"
            xdebug.remote_port=9000
            zend_extension="/home/ec2-user/xdebug/modules/xdebug.so"
            
            
    